name: module3_task0
on:
  push:
    branches:
      - main
  schedule:
      - cron: '0 0 * * *'

jobs:
  module3_task0:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - run: cd module3_task0
    - run: make help
